body{
	background: url('counter.png');
	background-size: cover;
	color: black;
	font-family: 'Open Sans', sans-serif;
	text-align: center ;
	font-weight: bold;
}
.container {
	background-color: white;
	max-width: 40%;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
}

h1{
	font-size: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}
h2{
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 20px;
}
button{
	color: white;
	background-color: black;
	font-size: 28px;
	border: 3px solid white;
	border-radius: 9px;
	transition-duration: 0.4s;
	margin-bottom: 13.5px;
	width: 200px;
}
button:hover{
	background-color: white;
	color: black;
	border: 3px solid black;
	box-shadow: o 8px 16px 0 rgba(0, 0, 0, 0.2);
	cursor: pointer;
}
button:active{
	background-color: black;
	color: white;
	transform: translateY(10px);
}
#save-el{
	margin-top: 20px;
	font-size: 30px;
}